<form [formGroup]="signupForm" (ngSubmit)="handleOnSubmit()">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    <floating-input [CONSTANTS]="SIGNUP_CONSTANT.name" [CONTROL]="signupForm.controls['name']" />
    <floating-input [CONSTANTS]="SIGNUP_CONSTANT.username" [CONTROL]="signupForm.controls['username']" />
    <floating-input [CONSTANTS]="SIGNUP_CONSTANT.password" [CONTROL]="signupForm.controls['password']" />
    <floating-input [CONSTANTS]="SIGNUP_CONSTANT.rePassword" [CONTROL]="signupForm.controls['rePassword']" />
    <button class="btn btn-primary w-100 py-2" type="submit">{{SIGNUP_CONSTANT.btnText}}</button>
</form>