$icon-names: 'i-copy', 'i-delete', 'i-add', 'i-info', 'i-update'; // add more icon names here
$icon-path: 'assets/icons'; // replace with the path to your icons folder

$sizes : ('sm': '1em', 'md':'2em', 'lg':'3em');

@each $icon-name in $icon-names {
  @each $name, $size in $sizes {
    .#{$icon-name}-#{$name} {
      background-image: url('#{$icon-path}/#{$icon-name}.svg');
      width: #{$size};
      height: #{$size};
      background-repeat: no-repeat;
      fill: currentcolor;
      background-size: cover;
      display: inline-block
    }
  }
}