<div class="container blog-group mt-2">
    <div class="row">
        <!-- <sr-crausel /> -->
    </div>
    <div class="row g-lg-5 g-4">
        <div class="col-sm-12 col-md-4">
            <sr-blog-group [blogs]="result" blogType="Results"/>
        </div>
        <div class="col-sm-12 col-md-4">
            <sr-blog-group [blogs]="admitCards" blogType="Admit Cards"/>
        </div>
        <div class="col-sm-12 col-md-4">
            <sr-blog-group [blogs]="latestJobs" blogType="Latest Jobs"/>
        </div>
    </div>
</div>