<form class="container" [formGroup]="typeForm" (ngSubmit)="handleOnSubmit()">
    <floating-input [CONTROL]='typeForm.controls["title"]' [CONSTANTS]="CREATE_BLOG_CONST['title']" />
    <div class="row">
        <div class="col-md-6">
            <floating-input (keyPressEmitter)="handleCat1keyPress($event)" [CONTROL]='typeForm.controls["cat1"]'
                [CONSTANTS]="CREATE_BLOG_CONST.cat1" />
            <div class="search-result-container">
                <ul class="list-group search-result">
                    @for (item of cat1DataSearch; track $index) {
                    <li class="list-group-item search-item cursor-pointer" (click)="selectCat1(item)">{{item}}</li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <floating-input (keyPressEmitter)="handleCat2keyPress($event)" [CONTROL]='typeForm.controls["cat2"]'
                [CONSTANTS]="CREATE_BLOG_CONST.cat2" />
            <div class="search-result-container">
                <ul class="list-group search-result">
                    @for (item of cat2DataSearch; track $index) {
                    <li class="list-group-item search-item cursor-pointer" (click)="selectCat2(item)">{{item}}</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <sr-floating-textarea [CONTROL]='typeForm.controls["description"]' [CONSTANTS]="CREATE_BLOG_CONST.description" />
    <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn btn-primary">{{CREATE_BLOG_CONST.btnText}}</button>
    </div>
</form>