<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img [src]="defaultImage" class="img-fluid image-obj" alt="...">
        </div>
        <div class="col-md-6">
            <form [formGroup]="fileForm" (ngSubmit)="id ? updateHandler() : submitHandler()">
                <floating-input [CONTROL]="fileForm.controls['name']" [CONSTANTS]="FILE_CONSTANT.name" />
                <floating-input disabled [CONTROL]="fileForm.controls['path']" [CONSTANTS]="FILE_CONSTANT.path" />
                <sr-floating-textarea [CONTROL]="fileForm.controls['description']"
                    [CONSTANTS]="FILE_CONSTANT.description" />
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" class="btn btn-outline-primary text-center btn-icon">
                        {{id ? 'Update' : 'Create'}}
                        <i [ngClass]="[id ? 'i-update-md': 'i-add-md']"></i>
                    </button>
                    @if (id) {
                    <button type="button " class="btn btn-outline-danger btn-icon">
                        Delete
                        <i class="i-delete-md"></i></button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>