<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Cat 1</th>
      <th scope="col">Cat 2</th>
      <th scope="col">Description</th>
      <th scope="col">Created At</th>
      <th scope="col">
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addType">Primary
          <i class="bi bi-plus-circle"></i>
        </button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (type of types; track $index) {
    <tr>
      <td>{{type.title}} ( {{type.blogCount}} )</td>
      <td>{{type.cat1}}</td>
      <td>{{type.cat2}}</td>
      <td>{{type.description}}</td>
      <td>{{type.createdAt}} </td>
      <td class="d-flex justify-content-around align-items-start">
        <button class="bi bi-archive-fill bg-danger" (click)="deleteType(type._id)" [disabled]="type.blogCount"></button>
        <button class="bi bi-pencil-square bg-info" (click)="editType(type._id)"></button>
      </td>
    </tr>
    }
  </tbody>
</table>


<sr-modal modelId='addType' title="Add Types">
  <sr-create-type (submitForm)="handleOnSubmit($event)" [cat1Data]="cat1Data" [cat2Data]="cat2Data"/>
</sr-modal>