    $table-hover-color: white;

    .content {
        display: none;
        border: 1px solid gray;
    }

    .header {
        background-color: lightgray;
        padding: 5px;

        &:hover{
            background-color: gray;
        }
    }

    .active.content {
        display: block;
        padding: 5px;
    }