<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" aria-current="page" [routerLink]="['/admin']"
        routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">
        Dashboard
      </a>
    </li>
  </ul>

  <h6
    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
    <span>Blogs</span>
    <a class="link-secondary" href="#" aria-label="Add a new report">
    </a>
  </h6>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" [routerLink]="['blogs-list']" routerLinkActive="active-link">
        List
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" [routerLink]="['/admin/blogs/create']"
        routerLinkActive="active-link">
        Create
      </a>
    </li>
  </ul>


  <h6
    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
    <span>Organisation</span>
    <a class="link-secondary" href="#" aria-label="Add a new report">
    </a>
  </h6>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#" routerLinkActive="active-link">
        List
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#" routerLinkActive="active-link">
        Create
      </a>
    </li>
  </ul>

  <h6
    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
    <span>Types</span>
    <a class="link-secondary" href="#" aria-label="Add a new report">
    </a>
  </h6>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" [routerLink]="['/admin/type']" routerLinkActive="active-link">
        List
      </a>
    </li>
  </ul>

  <hr class="my-3">

  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2" href="#" routerLinkActive="active-link">
        Sign out
      </a>
    </li>
  </ul>
</div>