.file {
    position: relative;

    .i-copy-md {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 10px 0px 0px;
        filter: drop-shadow(0 0 0.75rem white);

        &:hover {
            filter: drop-shadow(0 0 0.75rem black);
        }
    }
}

.card-body>i {
    vertical-align: -3px;
    margin-right: 5px;
}