.auth-page {
    max-width: 330px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &_logo {
        border-radius: 1rem 1rem 0rem 0rem;
        width: inherit;
        height: inherit;
    }
}