<div class="form-floating mb-1">
    <input type="text" (change)="search($event)" class="form-control" [id]="c_id" [placeholder]="c_placeHolder">
    <label [for]="c_id">{{c_placeHolder}}</label>
</div>
<div class="blog-list-container">
    @if (selected) {
    <div class="tag-container">
        @for (item of selected; track $index) {
        <span class="badge rounded-pill text-bg-primary my-1 me-1" [title]="item.desc">{{item.name}}</span>
        }
    </div>
    }
    @if (searchResult.length > 0) {
    <div class="blog-list-container-search-result">
        @for (item of searchResult; track $index) {
        <div class="list-group ">
            <label class="list-group-item d-flex gap-2" (click)="handleChecked(item)">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                <span>
                    {{item.name}}
                    <small class="d-block text-body-secondary">{{item.desc}}</small>
                </span>
            </label>
        </div>
        }
    </div>
    }
</div>