.input-group-text {
    flex-wrap: wrap;
}
.blog-list-container{
    position: relative;
    &-search-result{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background: #fff;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
        padding: 10px;
        max-height: 300px;
        overflow-y: auto;
        &-item{
            padding: 5px 0;
            border-bottom: 1px solid #ccc;
            &:last-child{
                border-bottom: none;
            }
            &-title{
                font-size: 14px;
                font-weight: 600;
                color: #000;
                margin-bottom: 5px;
            }
            &-description{
                font-size: 12px;
                color: #000;
            }
        }
    }
}
.tag-search {
    float: left;
}