textarea {
    overflow: hidden;
    min-height: 500px;

}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.padding-adjust-floating {
    transform: scale(.85) translateY(-0.5rem) translate(1rem);
}