<div class="container-flex create-blog" [formGroup]="blogForm">
    <div class="d-flex justify-content-end">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            @if (edit) {
            <button type="button" (click)="toggleEdit()" class="btn btn-warning">Preview</button>
            }@else {
            <button type="button" (click)="toggleEdit()" class="btn btn-danger">Edit</button>
            }
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
    <div class="row">
        <input type="text" formControlName='title'>
    </div>
    <!-- <div class="row">
        <input type="text">
    </div> -->
    <div class="row txt">
        <div class="col">
            @if (edit) {
            <textarea srResizablefield formControlName='markdown'></textarea>
            }@else{
            <markdown-wrapper [data]="blogForm.value.markdown" />
            }
        </div>
    </div>
</div>