<form class="container-flex create-blog mt-1" [formGroup]="blogForm">

  <div class="form-floating">
    <input formControlName="title" class="form-control mb-1" [id]="BLOG_CONSTANT.title.id"
      [placeholder]="BLOG_CONSTANT.title.plaholder">
    <label [for]="BLOG_CONSTANT.title.id">{{BLOG_CONSTANT.title.plaholder}}</label>
  </div>
  <div class="form-floating">
    <textarea style="height: 100px;" [id]="BLOG_CONSTANT.description.id"
      [placeholder]="BLOG_CONSTANT.description.plaholder" class="form-control mb-1"
      formControlName='markdown'></textarea>
    <label [for]="BLOG_CONSTANT.description.id">{{BLOG_CONSTANT.description.plaholder}}</label>
  </div>
  <div class="row mb-1">
    <div class="col-md-6">
      <div class="form-floating mb-1">
        <select formControlName="organisation" formControlName="type" class="form-select"
          [id]="BLOG_CONSTANT.organisation.id">
          <option selected>{{BLOG_CONSTANT.organisation.plaholder}}</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label [for]="BLOG_CONSTANT.organisation.id">{{BLOG_CONSTANT.organisation.plaholder}}</label>
      </div>
      <div class="form-floating">
        <select formControlName="organisation" formControlName="type" class="form-select" [id]="BLOG_CONSTANT.type.id">
          <option selected>{{BLOG_CONSTANT.type.plaholder}}</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <label [for]="BLOG_CONSTANT.type.id">{{BLOG_CONSTANT.type.plaholder}}</label>
      </div>
    </div>
    <div class="col-md-6">
      <sr-multi-select [c_id]="BLOG_CONSTANT.tag.id" [c_placeHolder]="BLOG_CONSTANT.tag.plaholder" />
    </div>
  </div>
  @if (edit) {
  <div class="form-floating">
    <textarea [id]="BLOG_CONSTANT.markdown.id" [placeholder]="BLOG_CONSTANT.markdown.plaholder"
      class="form-control mb-1" [srResizablefield]="400" formControlName='markdown'></textarea>
    <label [for]="BLOG_CONSTANT.markdown.id">{{BLOG_CONSTANT.markdown.plaholder}}</label>
  </div>
  }@else{
  <markdown-wrapper [data]="blogForm.value.markdown" />
  }
  

  <div class="d-flex justify-content-end">
    <div class="btn-group btn-group-sm py-2" role="group" aria-label="Basic mixed styles example">
      @if (edit) {
      <button type="button" (click)="toggleEdit()" class="btn btn-warning">Preview</button>
      }@else {
      <button type="button" (click)="toggleEdit()" class="btn btn-danger">Edit</button>
      }
      <button type="button" class="btn btn-success" (click)="postBlog()">Save</button>
    </div>
  </div>
</form>