<form [formGroup]="organisationForm" (ngSubmit)="handleOnSubmit()">
    <floating-input [CONTROL]='organisationForm.controls["name"]' [CONSTANTS]="ORGANISATION_CONSTANT.name" />
    <floating-input [CONTROL]='organisationForm.controls["logo"]' [CONSTANTS]="ORGANISATION_CONSTANT.logo" />
    <sr-floating-textarea  [CONTROL]="organisationForm.controls['description']"
        [CONSTANTS]="ORGANISATION_CONSTANT.description" />
    <sr-floating-textarea [CONTROL]="organisationForm.controls['markdown']"
        [CONSTANTS]="ORGANISATION_CONSTANT.markdown" />
    <button class="btn btn-primary w-100 py-2" type="submit">{{ORGANISATION_CONSTANT.btnText}}</button>
</form>